@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: flex;
    margin-bottom: 200px;
}


.navbar-brand img{
    width: 200px;
}
.nav-container{
    margin-left: 20px;
}

.navbar{
    padding: 20px;
}
.nav-principal{
    display: flex;
}
.nav-principal li{
    list-style: none;
    transition: all 0.4s;
    z-index: 12;
}
.nav-principal li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;

}

.btn-usuarios {
    background-color: #1C4C96;
}

/*SIDEBAR*/
.sidebar h3{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
}
.btn-filtros{
    padding: 20px;
    display: inline-block;
    background-color: #ffffff;
    margin: 5px;
}

.btn-filtros a{
    color: #1C4C96;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

/*CARRUSEL DESTACADAS*/
.text-dest{
    display: inline-block;
    margin: 60px 0px;
    padding: 20px;
    background: #1C4C96;
    border-radius: 5px;
}
.text-dest h1{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
}
.text-dest h4{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*SECCION LA EMPRESA*/
.card-property{
    height: 600px;
    display: flex;
    align-items: center;
}
.card-property .card-title {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}


/*CONTACTO*/

.form-contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
  .container-contactos{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .btn-contactos{
    padding: 20px;
    display: inline-block;
    background-color: #e00000;
  }
  .btn-contactos a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    
  }

  /*FOOTER*/
  .footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .ub-footer{
    color: white;

  }
  .img-footer img {
      width: 200px;

  }
  .ubicacion h4{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  /*REDES SOCIALES*/
  .redes-sociales{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;

  }
  .redes-sociales a {
      display: flex;
      color: #ffffff;
      height: 48px;
      width: 48px;
      background-color: #000000;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 50%;
      margin: 0 6px;
      transition: transform 0.4s;
  }

  .redes-sociales a:hover {
      transform: scale(1.3);
      color: #1C4C96;
  }

  .redes-sociales a.facebook {
      background-color: #3c70a4;
  }

  .redes-sociales a.twitter {
      background-color: #5bd1d7;
  }

  .redes-sociales a.google {
      background-color: #1C4C96;
  }

  .redes-sociales a.youtube {
      background-color: #c72c41;
  }

  .redes-sociales a.instagram {
      background-color: #c50e9e;
  }