header{
    grid-area: header;
    background: #e00000;
    border: 1px solid #000000;
}
.navbar-brand img{
    width: 200px;
}
.nav-container{
    margin-left: 20px;
}

.navbar{
    padding: 20px;
}
.nav-principal{
    display: flex;
}
.nav-principal li{
    list-style: none;
    transition: all 0.4s;
    z-index: 12;
}
.nav-principal li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;

}

.btn-usuarios {
    background-color: #1C4C96;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .ub-footer {
    color: white;
}

.img-footer img {
    width: 200px;
}

.ubicacion h4 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #e00000;
}
.form{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}