h2{
    background-color: crimson;
    text-align: center;
    padding: 20px;
    color: white;

}

.perfi{
   display: inline-flex;
   margin-left: auto 5px;
   float: left;


}



a { 
   font-family: Arial, Helvetica, sans-serif;

}




header {
   text-align: center;
   background: #1c4c96;
   border-image: stretch;


}

header h2 {
   background-color:#E00000;

}


/* NAVEGADOR*/



.navegador {
       font-size: 2em;
       font-family: "open sans " , sans-serif;
       background-color: rgb(241, 241, 241);

}


/* Pagos y Comprobantes*/




.comprobante {
  text-align:center;
  background-color:cornsilk;

  font-style: italic;


}






h4{color: #f0f3f5;


}

.tarjeta {
       text-align: center;
       background-color: beige;




}

.tarjeta:hover{
   color: darkolivegreen;




}

.abonar {
   text-align: center;
   background-color: beige;






}

.cbu {

    text-align: center;
   border-radius: 50px;
   border-style: dotted;
   margin-left: 20%;
   margin-right: 20%;






}

.alias {
   color: black;


}

.contra {
   text-align: left;
}


/* FOOTER */


.footer-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.footer .ub-footer {
   color: white;
}

.img-footer img {
   width: 200px;
}

.ubicacion h4 {
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   text-align: center;
}

.footer {
   grid-area: footer;
   background-color: #e00000;
}





.Ayuda{
   background-color:rgba( 221, 160 , 221 ,  0.7 )




}

.preaviso{
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;


}

.arreglos{


   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;


}

.cardimg{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 10%;
   border-radius: 50%;

}


