

header {
    background-color: crimson;
    height: 120%;
    text-align: center;
    padding: 20px;
    color: white;


}

h2{
    background-color: crimson;
    text-align: center;
    padding: 20px;
    color: white;


}

.perfi{
    width: 100px;
    float: left;
   
}


h3 {
background-color: #1c4c96;
height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: ;
        }
h4 {
    background-color: crimson;
    height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        


    }

/* footer */

        .footer-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .footer .ub-footer {
            color: white;
        }

        .img-footer img {
            width: 200px;
        }

        .ubicacion h4 {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            text-align: center;
        }

        .footer {
            grid-area: footer;
            background-color: crimson;
        }

        .navegador {
            font-size: 1em;
            font-family: "open sans " , sans-serif;
            background-color: rgb(241, 241, 241);}



/*  Clientes GESTOR DE USUARIO */

            body{
    background: #eee;
    margin-top:20px;
}



body{
    background:#eee;
}
.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}
a:hover{
text-decoration:none;
}


/* MENSAJES/ INBOX */


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.mailbox-widget .custom-tab .nav-item .nav-link {
    border: 0;
    color: #fff;
    border-bottom: 3px solid transparent;
}
.mailbox-widget .custom-tab .nav-item .nav-link.active {
    background: 0 0;
    color: #fff;
    border-bottom: 3px solid #2cd07e;
}
.no-wrap td, .no-wrap th {
    white-space: nowrap;
}
.table td, .table th {
    padding: .9375rem .4rem;
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
}
.font-light {
    font-weight: 300;
}




/* publicar */
.posting{margin-left: 24%;
margin-right: 25%;}




/* config/editar */





